@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap");

*{
  margin: 0;
  padding: 0;
  font-family:'Poppins',sans-serif;
  box-sizing: border-box;
}




body {
  background-color: #f3f2ef;
  color: #5f5f5f;

}

.navbar {
  display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    position: sticky;
    top : 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
    margin-right: 15px;
    display: block;

}

.search-box {
  background: #f0f2f5;
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0px 15px; 
}

.search-box img {
  width: 14px;

}

.search-box input {
  width: 100%;
  background: transparent;
  padding: 8px;
  outline: none;
  border: none;

}

.navbar-center ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar-center ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000000;
  font-size: 14px;
}

.navbar-center ul li a img {
  width: 30px;

}

.navbar-right .online {
  position: relative;
}

.nav-profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-menu-wrap {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.profile-menu {
  padding: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h3 {
  margin-bottom: 5px;
  font-size: 16px;
}

.profile-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin: 10px 0;
}

.profile-menu-link img {
  width: 20px;
  margin-right: 10px;
}
.online {
  position: relative;
}


.online::after {
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 0;
  top: 0;
  background: #41db51;
  position: absolute;
}

.my_element i {
  padding-right: 0.5rem;
}

.favoris {
  position: sticky;
  top: 80px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
  border-radius: 7px;
  background-color: #ffffff;
}

.favoris h6 {
  padding: 0.7rem 0 1rem 1rem;
  font-size: 1.1rem;
}

.favoris a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.7;
}

.favoris p {
  font-size: 1rem;
  width: 100%;
  padding-left: 1rem;
  padding-block: 0.5rem;
}

.group {
  padding-top: 1.2rem;
}

.see-more a {
  padding-left: 1rem;
}

.event a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.event span,
.follow a {
  color: #196dc2;
  font-weight: bold;
}

.follow a {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.follow i {
  color: #000000;
  width: 2rem;
  height: 2rem;
}

.personnal_info h5:hover,
.event span:hover,
.follow a:hover {
  text-decoration: underline;
}



/* Job Page Styles */
.job_page {
  display: flex;
  width: 75%;
  height: 100rem;
  margin: auto;
}

/* Left Box - Job Page */
.left_job_container {
  position: sticky;
  top: 70px;
  /*width: 19.33%;*/
  height: 35rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  align-items: center;
}

.left_job_div {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 7px;
}

.left_job_div p {
  padding: 0.5rem 0;
}

.left_job_div a {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.753);
  font-weight: bold;
}

.left_job_div i {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.541);
  padding-right: 0.7rem;
}

.left_job_div .fa-money-bill,
.left_job_div .fa-youtube {
  font-size: 1.2rem;
}

.left_job_div .fa-clipboard {
  font-size: 1.5rem;
}

.left_job_container .add_job {
  width: 90%;
  height: 4rem;
  display: flex;
  align-items: center;
  border: 1px solid #327fcc;
  border-radius: 19px;
  margin-top: 1rem;
  padding-left: 1rem;
  transition: 0.3s ease;
}

.left_job_container .add_job:hover {
  border: 2px solid #327fccdc;
  background-color: #327fcc1a;
}

.add_job a {
  font-size: 1rem;
  font-weight: bold;
  color: #327fcc;
}

.add_job .fa-file-pen {
  font-size: 1.6rem;
  padding-right: 1rem;
  font-weight: bold;
  color: #327fcc;
}

/* Center Box - Job Page */
.center_job_container {
  font-family: Arial, Helvetica, sans-serif;
  width: 55%;
  height: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

.responsive_box_job {
  display: none;
}

.preview_job_search {
  width: 100%;
  background-color: #ffffff;
  height: auto;
  padding: 1rem 1rem 0 1rem;
  border-radius: 7px 7px 0 0;
}

.preview_job_search h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.preview_job_search h2 span {
  float: right;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.438);
  cursor: pointer;
  padding: 0.1rem;
}

.preview_job_search h2 span:hover {
  background-color: rgba(0, 0, 0, 0.103);
}

.preview_job_search p {
  font-size: 0.98rem;
  font-weight: bold;
  color: #000;
  padding-bottom: 0.7rem;
  margin-bottom: 0.7rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}

.preview_job_search p span:nth-of-type(1) {
  color: #2c8b60;
  font-size: 0.98rem;
}

.preview_job_search p:nth-of-type(3) {
  border-bottom: none;
}

.see_more_job {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0 0 7px 7px;
  border-top: 1px solid rgba(0, 0, 0, 0.144);
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.see_more_job p {
  font-size: 1.3rem;
  color: #327fcc;
  padding: 3px;
  font-weight: bold;
  display: inline;
  border-radius: 3px;
  cursor: pointer;
}

.see_more_job p:hover {
  background-color: #327fcc28;
}

/* Job Opportunity Styles */
.job_oportunity {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.062);
}

.first_oportunity {
  border-radius: 7px 7px 0 0;
}

.job_oportunity h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.job_oportunity h2 a {
  color: #000;
}

.job_oportunity p:nth-last-of-type(1) {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: rgba(0, 0, 0, 0.562);
}

.company_job {
  display: flex;
  width: 100%;
  margin-top: 1.5rem;
}

.company_job_photo {
  width: 4rem;
  height: 4rem;
}

.job_description {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.job_description h6 a {
  color: #327fcc;
}

.job_description h6 a:hover {
  text-decoration: underline;
}

.job_description p a {
  color: rgba(0, 0, 0, 0.562);
}

.ph_pro_job {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 5px;
}

.job_description span {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 5px;
  color: #2c8b60;
}

/* Right Box - Job Page */
.right_job_container {
  position: sticky;
  top: 80px;
  margin: 1rem;
  width: 27.33%;
  height: auto;
  border-radius: 7px;
}


.add_job{
  width: 25px;
  height: 25px;
  margin-left: -50px;
}






.left_job_div p, .add_job {
  display: flex;
  align-items: center;
  gap: 10px; /* Espace entre l'icône et le texte */
  margin: 10px 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.753);
  font-weight: bold;

  
}


.image-linkedin {
  height: 1em; /* Taille de l'image ajustée à la hauteur du texte */
  vertical-align: middle; /* Aligne l'image verticalement avec le texte */
  margin-right: 8px; /* Espace entre l'image et le texte */
}
