.header{
    margin-top: -8px;
    margin-left: -8px;
    height: 55px;
    display: flex;
    justify-content:space-evenly;
    background-color: white;
    margin-right: -9px;
    align-items: center;
}
body{
    background-color: #F4F2EE;
    padding: 0%;
    width: 100%;
    height: 100%;
}
.logo{
    height: 40px;
    width: 40px;
    margin-right: -70px;
    border-radius: 15%;
}
.searchnav{
    width:20%;
    background-color: #EDF3F8;
    height: 40px;
    display: flex;
}
.searchnav:hover{
    width: 30%;
}
.searchimg{
    width: 30px;
}
.search-input {
    flex: 1;
    border: none;
    padding: 5px 10px;
    font-size: 1em;
    background-color: transparent;
}
.Icons{
    display: flex;
    gap: 15px;
    margin-right: -60px;
}
.Home{
    width: 33px;
    height: 25px;
    margin-top: 7px;
}
.Linkhome{
    text-decoration: none;
}
h2{
    font-size: 7px;
    width: 10px;
    color: darkgray;
    margin-top: 1px;
    margin-left: 6px;
}
.Home:hover{  
    cursor: pointer;
}
.Mynetwork{
    width: 60px;
    height: 50px;
    margin-top: 3px;
}
.Mynetwork:hover{
    cursor: pointer;
}
.Jobss{
    width: 10px;
    color: darkgray;
    margin-top: 1px;
    margin-left: 6px;
    font-size: 8px;

}
.Jobs{
    width: 29px;
    height: 25px;
    margin-top: 8px;
}
.Jobs:hover{
    cursor: pointer;
    width: 31px;
}
.Messaging{
    width: 60px;
    height: 45px;
    margin-top: 6px;

}
.Messaging:hover{
    cursor: pointer;
    width: 65px;
    height: 45px;
}
.Notifications{
    width: 60px;
    height: 45px;
    margin-top: 5px;
}
.Notifications:hover{
    cursor: pointer;
    width: 65px;
    height: 45px;
}
.Me{
    width: 60px;
    height: 45px;
    margin-top: 5px;
}
.Me:hover{
    cursor: pointer;
    width: 63px;
}
.linediv{
    width: 0.1px;
    height: 50px;
    background-color: gray;
}
.buisness{
    
    width: 70px;
    height: 50px;
    margin-left: -50px;
}
.trypremium{
    width: 120px;
    height: 45px;
    margin-left: -50px;
}
.partieGauche{
    margin-top: 25px;
    width: 250px;
    height: 300px;
    background-color: white;
    margin-left: 5rem;
    border-radius: 5%;
}
.head_profile{
    background-color: #A0B4B7;
    height: 15%;
    width: 100%;
}
.imageprofile {
    width: 70px;
    height: 70px;
    border-radius: 95%;
    position: absolute;
    margin-left: 90px;
    margin-top: 20px;
    border-color: white;
}
.nameP {
    font-size: 13px;
    justify-items: center;
    margin-top: 53px;
    margin-left: 65px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.statuP {
    font-size: 7px;
    margin-left: 93px;
    color: gray;
}
hr{
    background-color: aqua;
}
.info{
    width: 100%;
    display:flex;
    justify-content: space-around;
}
.profilev{
    width: fit-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.numv{
    color: blue;
    font-size: 10px;
}
.numi{
    color: blue;
    margin-top: -7px;
    font-size: 9px;
}
.Numbers{
    margin-top: -9px;
}
.impressions{
    font-size: 9px;
}
.GG{
    font-size: 9px;
    text-align: center;
    color:gray;
}
.premium{
    background-color: #E7A33E;
    width: 15px;
    height: 15px;
}
.txtp{
    font-size: 9px;
    margin-top: 9px;
}
.premiume{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.bookmark{
    width: 15px;
    height: 15px;
}
.txtb{
    font-size: 9px;
    margin-top: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.endprofile{
    display: flex;
    gap: 5px;
    justify-content: center;
}
.endPP{
    width: 250px;
    height: 60px;
    background-color: white;
    margin-top: 1rem;
    margin-left: 5rem;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    display: flex;
    justify-content: space-around;
}
.ktabaendp1{
    color: blue;
    margin-left: 2rem;

}
.plus{
    width: 15px;
    height: 15px;
    margin-left: -2rem;
}
.diktalya{
    width:240px;
}
