.header{
    margin-top: -8px;
    margin-left: -8px;
    height: 55px;
    display: flex;
    justify-content:space-evenly;
    background-color: white;
    margin-right: -9px;
    align-items: center;
}
body{
    background-color: #F4F2EE;
    padding: 0%;

}
.logo{
    height: 40px;
    width: 40px;
    margin-right: -70px;
    border-radius: 15%;
}
.searchnav{
    width:20%;
    background-color: #EDF3F8;
    height: 40px;
    display: flex;
}
.searchnav:hover{
    width: 30%;
}
.searchimg{
    width: 30px;
}
.search-input {
    flex: 1;
    border: none;
    padding: 5px 10px;
    font-size: 1em;
    background-color: transparent;
}
.Icons{
    display: flex;
    gap: 15px;
    margin-right: -60px;
}
.Home{
    width: 33px;
    height: 25px;
    margin-top: 7px;
}
.Linkhome{
    text-decoration: none;
}
h2{
    font-size: 7px;
    width: 10px;
    color: darkgray;
    margin-top: 1px;
    margin-left: 6px;
}
.Home:hover{  
    cursor: pointer;
}
.Mynetwork{
    width: 60px;
    height: 50px;
    margin-top: 3px;
}
.Mynetwork:hover{
    cursor: pointer;
}
.Jobss{
    width: 10px;
    color: darkgray;
    margin-top: 1px;
    margin-left: 6px;
    font-size: 8px;

}
.Jobs{
    width: 29px;
    height: 25px;
    margin-top: 8px;
}
.Jobs:hover{
    cursor: pointer;
    width: 31px;
}
.Messaging{
    width: 60px;
    height: 45px;
    margin-top: 6px;

}
.Messaging:hover{
    cursor: pointer;
    width: 65px;
    height: 45px;
}
.Notifications{
    width: 60px;
    height: 45px;
    margin-top: 5px;
}
.Notifications:hover{
    cursor: pointer;
    width: 65px;
    height: 45px;
}
.Me{
    width: 60px;
    height: 45px;
    margin-top: 5px;
}
.Me:hover{
    cursor: pointer;
    width: 63px;
}
.linediv{
    width: 0.1px;
    height: 50px;
    background-color: gray;
}
.buisness{
    
    width: 70px;
    height: 50px;
    margin-left: -50px;
}
.trypremium{
    width: 120px;
    height: 45px;
    margin-left: -50px;
}